
.title-main{
  
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

th, td {
    padding: 15px;
    text-align: left;
    
  }
  th{
    color: whitesmoke;
  }
  table{
      width: 100%;
      font-size: 2em;
   
  }
  td{
    box-shadow: rgba(0, 0, 0, 0.102) 0px 4px 0px;
  }
 
  
  img{
      width: 100%;
      max-height: 500px;
      min-height: 536px;
  }

  .scrolling {
	position: relative;
	width: 100%;
	height: 88px;
	overflow: hidden;
	margin-top: 50px;
}
.scrolling h3 {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 3em;
	text-align: center;
	line-height: 50px;
	color: #fff;
	transform: translateX(100%);
	animation: scrolling 20s linear infinite;
}
@keyframes scrolling {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(-100%);
	}
}
.slider-text{
    background: rgb(0,1,22);
background: linear-gradient(90deg, rgba(0,1,22,1) 0%, rgba(59,40,167,1) 52%, rgba(33,2,55,1) 100%);
}
#time{
    color: rgb(177, 10, 10);
    font-family: serif;
    font-size: 81px;
}
#dateBottom{
    position: relative;
    float:right;
    color: red;
    margin-top: 44px;
    padding-right: 10px;
    font-size: x-large;
    font-family: serif;
    ;
}
